@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue Machina;
  src: url(./font/PPNeueMachina-PlainLight.otf);
}

.gradient-box {
  position: relative;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.gradient-box::before {
  content: '';
  position: absolute;
  inset: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 1.5px;
  background: linear-gradient(to right, #F5F5F5, #B8E43F);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.bg-image-solution {
  background-image: url("/svgs/solution.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.circle {
  position: absolute;
  width: 602px;
  height: 602px;
  top: -20%;
  left: -30%;
  background-color: #398085;
  border-radius: 50%;
  filter: blur(250px);
  animation: moveUpDown 3s infinite ease-in-out;
  z-index: 2;
}

.circle2 {
  position: absolute;
  top: -20%;
  right: -30%;
  width: 602px;
  height: 602px;
  background-color: #B8E43F;
  border-radius: 50%;
  filter: blur(250px);
  animation: moveUpDown 3s infinite ease-in-out;
  z-index: 2;
}

.circle3 {
  position: absolute;
  top: 40%;
  left: 35%;
  width: 602px;
  height: 602px;
  background-color: #398085;
  border-radius: 50%;
  filter: blur(250px);
  animation: moveUpDown 3s infinite ease-in-out;
  z-index: 2;
}

.circle4 {
  position: absolute;
  top: -3%;
  left: -10%;
  width: 3000px;
  height: 150px;
  background-color: #000;
  filter: blur(20px);
  z-index: 1;
}

.circle6 {
  position: absolute;
  top: 5%;
  left: -30%;
  width: 602px;
  height: 602px;
  background-color: #B8E43F;
  border-radius: 50%;
  filter: blur(250px);
  animation: moveUpDown 3s infinite ease-in-out;
  z-index: 2;
}

.circle7 {
  position: absolute;
  top: -20%;
  right: -30%;
  width: 602px;
  height: 602px;
  background-color: #398085;
  border-radius: 50%;
  filter: blur(250px);
  animation: moveUpDown 3s infinite ease-in-out;
  z-index: 2;
}

.circle8 {
  position: absolute;
  bottom: -20%;
  left: -30%;
  width: 602px;
  height: 602px;
  background-color: #398085;
  border-radius: 50%;
  filter: blur(250px);
  animation: moveUpDown 3s infinite ease-in-out;
  z-index: 2;
}

.circle9 {
  position: absolute;
  bottom: 50%;
  right: -30%;
  width: 602px;
  height: 602px;
  background-color: #b8e43f;
  border-radius: 50%;
  filter: blur(250px);
  animation: moveUpDown 3s infinite ease-in-out;
  z-index: 2;
}

.creative-text {
  position: relative;
  font-size: 112px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

.animated-gradient-border {
  background:
    linear-gradient(#111, #111) padding-box,
    linear-gradient(45deg, white, #b8e43f, white) border-box;
  background-size: 200% 200%;
  animation: gradientShift 3s linear infinite;
  background-color: #ffffff1a;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.animated-gradient-border svg {
  color: white;
  fill: white;
  stroke: white;
}

.animated-gradient-border:hover svg {
  color: black;
  fill: black;
  stroke: black;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.button-position {
  position: absolute;
  right: 30px;
  bottom: 0px;
}

.the-story-path {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: draw-line 1.2s ease-out forwards;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}