.container {
  height: 100%;
  width: max-content;
}
.container span {
  white-space: pre;
}

.front,
.back {
  display: flex;
  position: absolute;
  transform-origin: 100% 0%;
}

.placeholder {
  visibility: hidden;
}
